.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-link{
  color:#fff;
}
.navbar-brand a{
  color:#fff;
  text-decoration: none;
}

.footer-copyright a, li a{
  color:rgb(231, 226, 226);
  text-decoration: none;
}
.page-footer{
  background-color:#0c0c0c;
  color:#fff;
}
.carousel-caption h3{
  color:#0c0c0c;
}
.team-member{
  background-color: #E2F1F1;
}
#contact{
  background-color: rgb(241, 207, 163);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
